<p class="tut"> < < < players.hbs</p>

<h3>Players</h3>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>DOB</th>
        <th>Avatar</th>
      </tr>
    </thead>
    <tbody>
      {{outlet}}
    </tbody>
  </table>
</div>
